/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

*{
	max-width:100%;
	/*border:1px solid gray;*/
}

body{
	width:900px;
	margin: 0 auto;
}

p{
	font-family: 'Roboto Mono', monospace;
}

/*NAV BAR*/

header{
	margin:30px 0 0 0;
	padding: 2px;
	background-color:#87CEEB;
	position:fixed;
	width:900px;
	z-index:999;
}

nav{
	display:inline-block;
	width:75%;
	position:relative;
	bottom:10px;	
}

nav a{
	color:black;
	text-decoration:none;
	padding:0px 55px 10px 0;
}

@keyframes link{
	0%{color:black}
	25%{color:#4169E1}
	50%{color:#87CEEB}
	100%{color:white}
}

nav a:hover{
	animation-name:link;
	animation-duration:1s;
	color:white;
}

.logo{
	position:relative;
	left:37px;
}

/*BANNER*/

.banner{
	padding:150px 50px 75px 50px;
}

.title{
	display:inline-block;
	width:49%;
	position:relative;
	bottom:50px;
}

h1{
	font-size:77px;
	text-align:center;
	padding: 0 0 15px 0;
}

.button{
	text-align:center;
}

.button a{
	border:1px solid black;
	color:black;
	text-decoration:none;
	padding:3px 50px;
}

.button a:hover{
	background-color:#87CEEB;
	color:white;
}

.header-img {
	display:inline-block;
	position:relative;
	width:49%;
	left:65px;
}

/*CONTENT*/

.info{
	padding:40px 0;
	border-top:1px solid black;
}

.features{
	display:inline-block;
	width:49%;
}

.about{
	display:inline-block;
	width:49%;
	position:relative;
	left:15px;
}

.middle-img {
	width:100%;
}

.info2{
	padding:40px 0;
	border-bottom:1px solid black;
}

.services{
	display:inline-block;
	width:32%;
}

.product{
	display:inline-block;
	width:32%;
	position:relative;
	left:10px;
}

.vision{
	display:inline-block;
	width:32%;
	position:relative;
	left:25px;
}

.contact{
	padding:50px 0;
}

.phone{
	padding:20px 0;
}

/*FOOTER*/

footer{
	text-align:center;
	padding: 20px 0 150px 0;
}